---
- name: resolve platform specific vars
  include_vars: '{{ item }}'
  with_first_found:
    - files:
        - '{{ ansible_distribution }}-{{ ansible_distribution_release }}.yml'
        - '{{ ansible_distribution }}.yml'
        - '{{ ansible_os_family }}.yml'
      skip: true
      paths:
        - '{{ role_path }}/vars'

- name: checking for install in {{ atlantis_install_dir }}
  become: yes
  stat:
    path: '{{ atlantis_install_dir }}'
  changed_when: false
  register: atlantis_bin

- when: not atlantis_bin.stat.exists
  block:
    - name: downloading {{ atlantis_url }}...
      become: yes
      become_user: root
      get_url:
        url: '{{ atlantis_url }}'
        dest: '{{ atlantis_tmp_zip }}'
        checksum: '{{ atlantis_checksum }}'
        mode: 0644
    - name: mkdir -p {{ atlantis_install_dir }}
      become: yes
      become_user: root
      file:
        path: '{{ atlantis_install_dir }}'
        state: directory
        mode: 0755
    - name: unarchiving {{ atlantis_tmp_zip }} to {{ atlantis_install_dir }}
      become: yes
      become_user: root
      unarchive:
        remote_src: yes
        src: '{{ atlantis_tmp_zip }}'
        dest: '{{ atlantis_install_dir }}'
  always:
    - name: rm -f {{ atlantis_tmp_zip }}
      become: yes
      become_user: root
      file:
        path: '{{ atlantis_tmp_zip }}'
        state: absent
- name: linking {{ atlantis_link }} to {{ atlantis_exe }}
  become: yes
  become_user: root
  file:
    src: '{{ atlantis_exe }}'
    dest: '{{ atlantis_link }}'
    state: link
